header {
  background: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0 8px;
  cursor: pointer;
  width: auto;
  display: inline-grid;
}

section {
  overflow: hidden;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 0 20px;
  margin: 20px 0 8px;
}

.search-results-list {
  display: inline-grid;
}

.recommendations-list {
  display: flex;
  overflow-y: scroll;
  width: 100%;
}

.drawer {
  background-color: #92AB9F;
  overflow-y: scroll;
  position: absolute;
  width: 95%;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.drawer-background {
  position: relative;
}
